@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}
<div class="page-content">
    <div class="intro-section bg-image"
         style="background-image: url(assets/background.jpg);">
        <div class="container">
            <div class="owl-carousel inner-carousel owl-simple rows cols-1" data-toggle="owl"
                 data-owl-options='{"nav": false, "dots": true,"rtl": true, "loop": true}'>
                @await Component.InvokeAsync("SlideTrucks")

            </div>
        </div>
    </div>
    <div class="banner-group-1 mt-1 mb-1">
        @await Component.InvokeAsync("CategoryBase");
    </div>
    
    <div class="container">
        <hr class="m-0">
        @await Component.InvokeAsync("CategoryBaseParent")
    </div>

@await Component.InvokeAsync("DiscountCoustomer")
   
    <div class="bg-lighter blog-section pt-6 pb-5">
        <div class="container">
            <div class="heading py-2 pb-0">
                <h2 class="title align-self-center letter-spacing-normal text-center text-md-right">
                    از بلاگ
                    ما
                </h2>
            </div>
            @await Component.InvokeAsync("Blog")
          
        </div>
    </div>
</div>