@model blogManagement.Application.Contracts.ArticelCategoryApplication.CreateArticelCategory
@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ایجاد گروه مقاله جدید</h4>
</div>

<form asp-page="./Index" asp-page-handler="Create"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">نام</label>
                    <input type="text" class="form-control" asp-for="Name" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="Name" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Slug" class="control-label">اسلاگ</label>
                    <input type="text" class="form-control" asp-for="Slug">
                    <span asp-validation-for="Slug" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group relative">
                    <input type="file" asp-for="Picture" class="form-control">
                    <label>انتخاب تصویر </label>
                    <div class="input-group round">
                        <input type="text" asp-for="Picture" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info">
                                <i class="icon-picture"></i>
                                آپلود عکس
                            </button>
                        </span>
                    </div><!-- /.input-group -->
                    <div class="help-block"></div>
                </div><!-- /.form-group -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ShowOrder" class="control-label">ترتیب نمایش</label>
                    <input class="form-control" asp-for="ShowOrder">
                    <span asp-validation-for="ShowOrder" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PictureAlt" class="control-label">Alt</label>
                    <input type="text" class="form-control" asp-for="PictureAlt">
                    <span asp-validation-for="PictureAlt" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PictureTitle" class="control-label">عنوان</label>
                    <input type="text" class="form-control" asp-for="PictureTitle">
                    <span asp-validation-for="PictureTitle" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label asp-for="Description" class="control-label">توضیحات</label>
                    <textarea class="form-control autogrow" asp-for="Description" onchange="fillField('Description', 'MetaDescription')"
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                    <span asp-validation-for="Description" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Keywords" class="control-label">کلمات کلیدی</label>
                    <input type="text" class="form-control" asp-for="Keywords">
                    <span asp-validation-for="Keywords" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label asp-for="MetaDescription" class="control-label">توضیحات متا</label>
                    <textarea class="form-control autogrow" asp-for="MetaDescription"
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                    <span asp-validation-for="MetaDescription" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="CanonicalAddress" class="control-label">CanonicalAddress</label>
                    <input type="text" class="form-control" asp-for="CanonicalAddress">
                    <span asp-validation-for="CanonicalAddress" class="error"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-6 m-auto">

        <button type="submit" class="btn btn-success btn-block mt-4 mb-2">
            <i class="icon-cursor"></i>
            ثبت
        </button>
        <button type="button" class="btn btn-danger btn-block float-end mb-3" data-bs-dismiss="modal">بازگشت</button>
    </div>
    
</form>