@page
@model ServiceHost.Areas.Admin.Pages.Dashboard.IndexModel
@{
}
<!-- BEGIN PAGE CONTENT -->
<div id="page-content">
    <div class="row">
        <!-- BEGIN BREADCRUMB -->
        <div class="col-md-12">
            <div class="breadcrumb-box shadow">
                <ul class="breadcrumb">
                    <li><a href="dashboard.html">پیشخوان</a></li>
                </ul>
                <div class="breadcrumb-left">
                    یکشنبه، 1402/02/24
                    <i class="icon-calendar"></i>
                </div><!-- /.breadcrumb-left -->
            </div><!-- /.breadcrumb-box -->
        </div><!-- /.col-md-12 -->
        <!-- END BREADCRUMB -->

        <div class="col-md-12">
            <div class="row">
              
            </div><!-- /.row -->


           
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</div><!-- /#page-content -->
<!-- END PAGE CONTENT -->