@model System.Collections.Generic.List<TrucksManagement.Application.contracts.TrkCategoryApplication.TrkCategoryViewModel>?

@if (Model != null)
{
    <div class="cat-section mt-4 mb-3">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
                    <div class="cat bg-white pt-1 mb-2">
                        <div class="cat-image d-flex justify-content-center align-items-center">
                            <a asp-page="/Trucks/Index" asp-route-slug="@item.Slug">
                                <img src="~/Pictures/@item.PictureName" width="137"
                                     height="137" style="-ms-border-radius: 100%; border-radius: 100%;">
                            </a>
                        </div>
                        <div class="cat-content text-center">
                            <a href="~/Trucks?slug=@item.Slug"  class="cat-title">@item.Name</a>
                            <h4 class="cat-count letter-spacing-normal d-block font-weight-light">
                                @item.ProductCount محصول
                            </h4>
                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>
}
